<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../assets/css/gallery.theme.css">
    <link rel="stylesheet" href="../assets/css/gallery.min.css">
</head>
<body>
    <div class="gallery autoplay items-5">

        <div id="item-1" class="control-operator"></div>
        <div id="item-2" class="control-operator"></div>
        <div id="item-3" class="control-operator"></div>
        <div id="item-4" class="control-operator"></div>
        <div id="item-5" class="control-operator"></div>
    
        <figure class="item">
            <h1><img src="../assets/Images/m1.jpg" height="400px"></h1>
        </figure>
        <figure class="item">
            <h1><img src="../assets/Images/m2.jpg" height="400px"></h1>
        </figure>
        <figure class="item">
            <h1><img src="../assets/Images/m3.jpg" height="400px"></h1>
        </figure>
        <figure class="item">
            <h1><img src="../assets/Images/m4.jpg" height="400px"></h1>
        </figure>
        <figure class="item">
            <h1><img src="../assets/Images/m5.jpg" height="400px"></h1>
        </figure>
    
        <div class="controls">
            <a href="#item-1" class="control-button">.</a>
            <a href="#item-2" class="control-button">.</a>
            <a href="#item-3" class="control-button">.</a>
            <a href="#item-4" class="control-button">.</a>
            <a href="#item-5" class="control-button">.</a>
        </div>
    </div>
</body>
</html>


