<div class="log-form">
    <h2>Faça Login na sua conta Gengar Films!</h2>

    <form [formGroup]="loginForm">
      <input type="text" title="username" placeholder="     Nome de Usuário" formControlName="username"/>
      <input type="password" title="username" placeholder="    Senha" formControlName="senha"/>
    </form>
    
    
    
    <button (click)="login()" class="btn">Login</button>
    <a class="forgot" href="#">Esqueceu sua senha?</a>
    <a class="assine" href="#">Assine agora</a>
    

    

  </div>

  
