.wrapper {
  margin: 0 auto;
  width: 90%;
}

.wrapper table {
  width: 100%;
}

mat-form-field {
  font-size: 14px;
  width: 100%;
}

table.mat-table {
  opacity: .9;
  border-spacing: 0;
}

tr.mat-header-row {
  height: 56px;
}

tr.mat-row, tr.mat-footer-row {
  height: 48px;
}

tr.mat-row:hover {
  background-color: rgba(103, 58, 183, .1);
  transition: .1s;
}

th.mat-header-cell {
  text-align: left;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  color: #673ab7;
  font-size: 14px;
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

th.mat-header-cell:first-child, td.mat-cell:first-child, td.mat-footer-cell:first-child {
  padding-left: 24px;
}

th.mat-header-cell:last-child, td.mat-cell:last-child, td.mat-footer-cell:last-child {
  padding-right: 24px;
}

.mat-mini-fab {
  height: 20px;
  width: 20px;
}

#edit::after {
  background-color: #fff;
  content:'';
  display: block;
  height: 2px;
  left: 5px;
  position: absolute;
  top: 9px;
  width: 10px;
}

#delete::before {
  background-color: #fff;
  content:'';
  display: block;
  height: 2px;
  left: 5px;
  position: absolute;
  top: 9px;
  transform: rotate(45deg);
  width: 10px;
}

#delete::after {
  background-color: #fff;
  content:'';
  display: block;
  height: 10px;
  left: 9px;
  position: absolute;
  top: 5px;
  transform: rotate(45deg);
  width: 2px;
}