<div class="wrapper">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar...">
  </mat-form-field>
  <table class="mat-table">
    <tr class="mat-header-row">
      <th class="mat-header-cell">ID</th>
      <th class="mat-header-cell">Título</th>
      <th class="mat-header-cell">Genêro</th>
      <th class="mat-header-cell">Duração</th>
      <th class="mat-header-cell">Avaliação</th>
      <th class="mat-header-cell">Editar</th>
      <th class="mat-header-cell">Excluir</th>
    </tr>
    <tr *ngFor="let filme of filmes; let i = index" class="mat-row">
      <td class="mat-cell">{{filme.id}}</td>
      <td class="mat-cell">{{filme.tituto}}</td>
      <td class="mat-cell">{{filme.genero}}</td>
      <td class="mat-cell">{{filme.duracao}}</td>
      <td class="mat-cell">{{filme.avaliacao}}</td>
      <td class="mat-cell"><button mat-mini-fab color="accent" (click)="editaFilme()" id="edit"></button></td>
      <td class="mat-cell"><button mat-mini-fab color="warn" (click)="deletaFilme($event)" id="delete"></button></td>
    </tr>
  </table>
</div>
